.destiny {    
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    &__choose {
        width: 100%;
        padding: 20px;
        font-size: 30px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__item {
        cursor: pointer;
        margin-left: 10px;
        border: 1px solid black;
        &:hover {            
            color: white;
            background-color: black;
        }
        &:active {
            background-color:cyan;
            color: black;
        }
    }
}